*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --icon-color-hover: white;


}

body {
    font-family: Roboto;
    color: var(--primary-text-color);
    background-color: white;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
   
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 521px;
    border-radius: 4px;
    background-color: #FFFFFF;
  
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.icon-close {
    
    width: 18px;
    height: 18px;

}
/* шапка */


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    color: var(--accent-color);
    text-decoration: none;

    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-header {
    color: black;
}
.link {
    display: block;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;

    fill: var(--text-color);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: var(--accent-color);
}
.current::after {
    position: absolute;
    bottom: -1.5px;
    left: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color) ;
    border-radius: 2px;
}
.it {
    color: var(--text-color);
    size: 14px;
    display: flex;
    align-items: center;
}

.icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
       
}


.icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;  
    
    
}

.nav,
.link:hover,
.nav,
.link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);



}







.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.main-nav {
    display: flex;
}
.nav {
    display: flex;
    margin-left: 93px;
}

.nav-link {
    display: flex; 
    margin-left: auto;
     
}
.nav .item:not(:last-child) {
    margin-right: 50px;
 }
.nav-link .item:not(:last-child) {
    margin-right: 50px;
}


.section-footer, .section-hero {
    background: #2F303A;
    }
.section-hero { 
    display: block;
    width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to left, rgb(47 48 58 / 40%), rgb(47 48 58 / 40%)),  url(../images/Img-bckg.jpg) ;
    background-size: cover;
}



.section-team {
    background-color: var(--background-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.hero {
    margin-top: 0 ;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
}

.hero-button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    padding: 10px 32px; 

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: #188CE8;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: var(--primary-text-color);
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* особенности*/



.icon-bckg {
    width: 270px;
    height: 120px;
    background-color: var(--background-color);
    margin-bottom: 30px;  
    text-align: center;
    
}
.icon {
    margin-top: 25px;
    width: 70px;
    height: 70px; 
    
}
.section-features {
    padding-top: 94px;
}
.features {
    display: flex;   
}
.features li {
    width: 270px;
}
.features  .item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-transform: uppercase;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

/*Чем занимаемся*/
.section-work {
    padding-top: 94px;
    padding-bottom: 94px;
}
 
.foto {
    display: block;
   
}

.work {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.work .item:not(:last-child) {
    margin-right: 30px;
}
.work-item {
    position: relative;
}
.work-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 80%);

}

.work-text {
    padding-top: 27px;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
   
    
    color: white;
    
}




/* команда*/

.team {
    display: flex;
    justify-content: space-between;
    
}
.team-card {
    margin-top: 0;
    margin-bottom: 0px;
    width: 270px;
    background-color: white;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .team-card:not(:last-child) {
    margin-right: 30px;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    color: var(--primary-text-color);
    text-align: center;
}

.team-prof {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: var(--text-color);
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;

}
.team-socials-item {
    width: 44px;
    height: 44px;
   

}
.team-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--accent-color );
}
.team-socials-link:hover .team-socials-icon,
.team-socials-link:focus .team-socials-icon {
    fill: var(--icon-color-hover);
}

.team-socials-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Клиенты*/
.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients {
    display: flex;
    justify-content: center;
}

.clients-item {
    width: 170px;
    height: 92px;

    border: solid 1px #AFB1B8;
    border-radius: 4px;  
    
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;   
}


.clients-item:hover,
.clients-item:focus  { 
    border:solid 1px var(--accent-color);
}
.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
    fill: var(--accent-color); 
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color); 

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*подвал*/

.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-footer {
    display: inline-block;   
}
.nav-footer li:not(:last-child) {
    margin-bottom: 9px;
}
.logo-footer {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    color: var(--accent-color);
    text-decoration: none;

    margin-bottom: 20px;
}
.footer-span {
    color: white;
}

.link-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.adress {
    color: white;
}
.footer-title {
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
    
    

}
.footer {
    display: flex;
    align-items: baseline;   
}
.footer-socials {
    margin-left: 70px;
}
.icon-footer-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icon-footer-item {
    width: 44px;
    height: 44px;
}
.icon-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}
.icon-footer-link:hover,
.icon-footer-link:focus {
    background-color: var(--accent-color);
}
.icon-footer {
    width: 20px;
    height: 20px;
    fill: var(--icon-color-hover);
    
}




/*Портфолио*/

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.portfolio-card {
    

    margin-bottom: 30px;
    width: 370px;
    margin-right: 30px;
       
    background: #FFFFFF;  
    
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.portfolio-card:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.port-hover {
    position: relative;
    overflow: hidden;

}

.port-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    
    
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.port-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 322px;
    height: 168px;
    
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;

    color: white;
    transform: translate(-50%, -50%); 
}

.portfolio-card:hover .port-overlay {
    transform: translate(0);
}

.port-text {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px 20px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}

.portfolio-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--text-color);
    
}

.btn {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;
   

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.btn:hover,
.btn:focus {
    color: white;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.prtf-btn {
    font-family: Roboto;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
}
.prtf-btn li:not(:last-child) {
    margin-right: 8px;
}

.prtf-examples {
    display: flex;
    flex-wrap: wrap;

}
 .prtf-examples .portfolio-card:nth-child(3n) {
    margin-right: 0;
}

.prtf-examples .portfolio-card:nth-child(n+7) {
    margin-bottom: 0;
}
